@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Young+Serif&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(12px + 2vmin);
  color: white;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.App p {
  margin-left: 15px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.App-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  background-color: #2aa8af32;
}
.div_nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: -65px;
  width: 94%;
}
.div_nav a {
  margin-right: 12px;
  margin-left: 41px;
  padding: 7px 15px 7px 15px;
  justify-content: space-around;
  text-decoration: none;
  background: #47BBC2;
  background: -webkit-linear-gradient(225deg, #47BBC2, #CC894C);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  width: 50%px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 700;
  margin-top: -11px;
  }

.div_logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.div_logo p {
  margin-top: 45px;
  display: flex;
  background: #47BBC2;
  background: -webkit-linear-gradient(225deg, #c28d47, #cc4cb0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: calc(7px + 2vmin);
  padding: 0 0 0 0;
  margin-bottom: 0;
}
.App-logo {
  height: 80px;
  pointer-events: none;
  fill: url(#grad--linear-1) ;
  width: 100px;
  min-width: 50px;
  max-width: 200px;
  max-height: 200px;

}


stop {
  -webkit-animation: colors 8s infinite;
        animation: colors 8s infinite;
}
.stop-2 {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}
.stop-3 {
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
}
@keyframes colors {
  75% {
    stop-color: rgb(39, 151, 136);
  }
  90% {
    stop-color: rgb(201, 54, 83);
  }
  45% {
    stop-color: rgb(17, 156, 156);
  }
  60% {
    stop-color: rgb(151, 194, 64);
  }
  15% {
    stop-color: rgb(245, 113, 65);
  }
  30% {
    stop-color: rgb(184, 71, 184);
  }
  90% {
    stop-color: rgb(184, 103, 71);
  }
}
.App-logo {
  animation: App-logo-spin infinite 8s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.elem_1{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.elem_1 h1,h2,p {
  margin-bottom: 15px;
  margin-top: 5px;
}
.elem_1 input {
  width: 150px;
}

.btn_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 210px;
}
.btn_1 button {
  width: 120px;
  margin-bottom: 5px;
  background: #47BBC2;
  background: -webkit-linear-gradient(260deg, #c28d47, #cc4cb0, #47BBC2);
  color: rgb(9, 19, 10);
  font-weight: 700;
}
.btn_1 h1 {
  font-size: 30px;
}


.box {
  display: flex;
  flex-direction: row-reverse;
}
.box_main {
  display: flex;
  flex-direction: column;
  color: rgb(252, 247, 183);
  border: 0.5px solid rgba(245, 222, 179, 0.192);
  background: #47BBC2;
  background: -webkit-linear-gradient(-200deg, #689ac9, #186675);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 35px;
  margin-left: 15px;
  margin-right: 20px;
  margin-bottom: 50px;
  width: 900px;
}
.delete-icon {
  color: #142225;
  cursor: pointer;
  transform: scale(0.9);
 }
.edit-icon {
   color: #142225;
   cursor: pointer;
   transform: scale(0.9);
  }
.delete-icon:hover {
  color: #6d1616;
  transform: scale(1.2);
  transition: transform 250ms ease;
  }
.edit-icon:hover {
    color: #6d1616;
    transform: scale(1.2);
      transition: transform 250ms ease;
  }

.user h3 {
  margin-top: 13px;
  font-family: 'Young Serif', serif;
  font-weight: 500;
  font-size: 23px;
  line-height: 0.5;
  margin-left: 10px;
  margin-bottom: 23px;
}
.user p {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 0.5;
  margin-left: 10px;
  font-weight: 200;
  color: rgba(246, 252, 246, 0.808);
}
.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


aside {  
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 15px;
  width: 50%;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}
form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
}
form input:not([type="checkbox"]),
form input {
  display: flex;
  width: 40%;
  padding: 15px 5%;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 10px;
  border: 0;
  background: #222;
  color: #fff;
  outline: none;
}

form input[type="chekbox"] {
  margin: 10px;
}
form button {
  padding: 8px 5%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
  margin-left: 40px;
  border: 0;
  background: #222;
  color: #fff;
  outline: none;
  font-size: 15px;
  text-align: center;
  width: 40%;
  cursor: pointer;
  transition: transform 500ms ease;
  margin-top: 20px;
}
form button:hover {
  transform: scale(1.1);
}

#isHappy {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
#isHappy+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
#isHappy+label::before {
  content: '';
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
#isHappy:checked+label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
/* стили при наведении курсора на checkbox */
#isHappy:not(:disabled):not(:checked)+label:hover::before {
  border-color: #b3d7ff;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
#isHappy:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}
/* стили для чекбокса, находящегося в фокусе */
#isHappy:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
#isHappy:focus:not(:checked)+label::before {
  border-color: #80bdff;
}
/* стили для чекбокса, находящегося в состоянии disabled */
#isHappy:disabled+label::before {
  background-color: #e9ecef;
}